<div id="footer">
    <div id="footer-info">
        <div id="info-section">
            <h5>Company</h5>
            <p>About Us</p>
            <p>Certification</p>
            <p>How It Works</p>
        </div>
        <div id="info-section">
            <h5>Policy</h5>
            <p>FAQ's</p>
            <p>Privacy Policy</p>
        </div>
        <div id="info-section">
            <h5>Contact Us</h5>
            <p>info@freshfood.ca</p>
            <p>(123) 456 7890</p>
        </div>
    </div>
    <div id="footer-copyright">
        <h3>Copyright © Winter 2022, FirstName LastName, WEB322 SectionCode</h3>
    </div>
</div>