<div id="hero-container">
    <h1>Try Canada's #1 meal kit!</h1>
    <h5>Get farm-fresh ingredients to cook delicious recipes delivered for FREE to your doorstep.</h5>
    <input type="button" value="Get Started">
</div>