.content-section {
    background-image: linear-gradient(rgba(172, 172, 172, 0.63), rgba(255, 255, 255, 0.26));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.content-section h2 {
    font-size: 30px;
    margin: 50px 0px;
}

.content-section .container {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.welcome-header {
    margin: 0;
    background-color: #111111;
    background-image: linear-gradient(rgba(0, 63, 37, 0.26), rgba(0, 34, 25, 0.63)), url("/img/food1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    padding: 120px;
    color: white;
    font-size: 70px;
}